<footer class="bg-gray-100 " id="contact">
    <div class="container mx-auto px-4 py-8">
      <div class="flex flex-wrap justify-between">
        <div class="lg:w-1/4 md:w-full sm:w-full flex flex-col justify-center items-center pt-4">
          <a href="/" class="logo-footer mb-4">
            <img src="./assets/Logo.svg" class="h-9" alt="Logo" />
            <p class="text-center text-sm">
              Trusted and Convenient Money Circles
            </p>
          </a>
          <p class="text-lg font-semibold text-gray-800">
            <a href="tel:+219686">19686</a>
          </p>
        </div>
        <div class="lg:w-1/2 md:w-full sm:w-full flex justify-center items-center pt-4 space-x-4">
          <a target="_blank" class="text-gray-800 text-center" href="/privacyEn">Privacy Policy</a>
          <span class="text-gray-800">|</span>
          <a target="_blank" class="text-gray-800 text-center" href="/termsEn">Terms</a>
        </div>
        <div class="lg:w-1/4 md:w-full sm:w-full flex justify-center items-center pt-4 space-x-4">
          <div class="text-center">
            <a target="_blank" href="https://twitter.com/moneyfellows">
              <img class="h-6 w-6" src="./assets/twitter.svg" alt="Twitter" />
            </a>
          </div>
          <div class="text-center">
            <a target="_blank" href="https://www.facebook.com/moneyfellows">
              <img class="h-6 w-6" src="./assets/facebook.svg" alt="Facebook" />
            </a>
          </div>
          <div class="text-center">
            <a target="_blank" href="https://www.linkedin.com/company/moneyfellows/">
              <img class="h-6 w-6" src="./assets/linkedin.svg" alt="LinkedIn" />
            </a>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center pt-4">
        <p class="text-center text-gray-800 text-sm">
          &copy; 2022 MoneyFellows For IT And Project Management S.A.E. All Rights Reserved.
        </p>
      </div>
    </div>
  </footer>
  