<section class="overflow-hidden pt-40 pb-40" id="download">
  <div class="container mx-auto px-4">
    <div class="flex justify-center items-center">
      <div
        class="w-full lg:w-2/3 md:w-2/3 bg-store-card p-8 bg-gray-200 rounded-3xl"
      >
        <div class="section-title mb-6">
          <h1 class="text-center text-4xl font-bold">Get Money Fellows App</h1>
        </div>
        <div class="flex justify-around flex-wrap">
          <div class="w-full lg:w-1/4 md:w-1/4 pt-4">
            <a
              href="https://moneyfellows.onelink.me/zsgo/629f3cbd"
              target="_blank"
            >
              <img
                class="w-2/4 h-auto m-auto"
                src="./assets/AppGallery.svg"
                alt="AppGallery"
              />
            </a>
          </div>
          <div class="w-full lg:w-1/4 md:w-1/4 pt-4">
            <a
              href="https://moneyfellows.onelink.me/zsgo/629f3cbd"
              target="_blank"
            >
              <img
                class="w-2/4 h-auto m-auto"
                src="./assets/AppStore.svg"
                alt="AppStore"
              />
            </a>
          </div>
          <div class="w-full lg:w-1/4 md:w-1/4 pt-4">
            <a
              href="https://moneyfellows.onelink.me/zsgo/629f3cbd"
              target="_blank"
            >
              <img
                class="w-2/4 h-auto m-auto"
                src="./assets/GooglePlay.svg"
                alt="GooglePlay"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
