<section class=" pt-[15rem] overflow-hidden" id="features">
    <div class="container mx-auto">
      <div class="flex flex-wrap justify-around">
        <div class="w-full lg:w-4/12 md:w-4/12 flex flex-col items-start mb-8">
          <div class="section-title">
            <h1 class="text-4xl font-bold">Trusted</h1>
            <p class="text-lg mt-4">
              Over <b>4 million users</b> trust our platform and have their peace of mind knowing that each user has to sign a <b>legal contract</b> before the circle starts.
            </p>
          </div>
          <div class="relative">
            <div class="text-center md:text-left">
              <img src="./assets/2.png" class="w-full h-auto" alt="">
            </div>
          </div>
        </div>
  
        <div class="w-full lg:w-4/12 md:w-4/12 flex flex-col items-center mb-8">
          <div class="section-title">
            <h1 class="text-4xl font-bold">Smart</h1>
            <p class="text-lg mt-4">
              Whether your goal is to buy or to save up, you will find a money circle for it with the highest returns on your savings.
            </p>
          </div>
          <div class="relative">
            <div class="text-center md:text-left">
              <img src="./assets/3.png" class="w-full h-auto" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  