<section class="overflow-hidden pt-40 pb-40">
    <div class="container mx-auto px-4">
      <div class="flex justify-around">
        <div class="flex justify-center items-center">
          <div class="lg:w-1/3 sm:w-full md:w-1/3 flex flex-col items-center">
            <div class="relative">
              <div class="text-center md:text-left">
                <img src="./assets/4.png" class="w-full" alt="" />
              </div>
            </div>
            <div class="section-title mt-8">
              <h1 class="MF-heading Heading-H1 text-center text-3xl font-bold">
                You are in control
              </h1>
              <p class="MF-subheading-24 text-center mt-4 text-lg">
                Customize your plan; from setting your goal to the
                <b>amount</b> you need and even your <b>pay-in</b> and
                <b>payout</b> methods.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
