<section class="overflow-hidden pt-4 pb-40">
  <div class="container mx-auto px-4">
    <div
      class="flex justify-start bg-discount-card-new bg-purple-200 rounded-3xl p-5 md:w-4/6 m-auto"
    >
      <div class="flex flex-wrap justify-start items-center">
        <div class="w-full md:w-1/2 px-4">
          <h1 class="text-4xl font-bold">
            Discounts &amp;<br />
            Zero-fees slots
          </h1>
          <p class="mt-4 text-lg">
            All our Money Circles have zero fees slots and discounts that reach
            up to 100% off your pay-in.
          </p>
        </div>
        <div class="w-full md:w-1/2 text-center pt-4">
          <img src="./assets/5.svg" class="w-full max-w-md mx-auto" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
