<section
  class="container m-auto pt-[10rem] md:pt-[5rem] w-full overflow-hidden bg-cover bg-center"
>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-full lg:w-5/12 md:w-5/12 mt-4">
        <div class="mt-4">
          <div class="block md:hidden lg:hidden text-center">
            <p class="text-center text-xl slogan">
              Trusted and Convenient Money Circles
            </p>
            <h1 class="text-center text-3xl mt-2 MF-heading pt-3">
              Circles App for every need
            </h1>
          </div>

          <div class="hidden md:block lg:hidden">
            <p class="text-xl font-medium slogan">
              Trusted and Convenient Money Circles
            </p>
            <h1 class="text-3xl font-bold mt-2 MF-heading">
              Plan your goals ahead
            </h1>
            <p class="text-base mt-2">
              Whether your goal is to buy or to save-up, you will find a money
              circle for it with the highest returns on your savings.
            </p>
          </div>

          <div class="hidden lg:block">
            <p class="text-xl font-medium slogan">
              Trusted and Convenient Money Circles
            </p>
            <h1 class="text-4xl font-bold mt-2 MF-heading">
              Plan your goals ahead
            </h1>
            <p class="text-base mt-2">
              Whether your goal is to buy or to save-up, you will find a money
              circle for it with the highest returns on your savings.
            </p>
          </div>

          <div class="mt-4 download-button">
            <a
              href="#download"
              class="bg-blue-500 text-white py-2 px-4 rounded-lg MF-button"
              >Get it now</a
            >
          </div>
        </div>
      </div>

      <div class="w-full lg:w-7/12 md:w-7/12 mt-4 pt-2 mt-0 pt-0">
        <div class="relative">
          <div class="relative">
            <img
              src="./assets/1.png"
              class="mx-auto block w-10/12 up-and-down"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
