<section class="overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-around">
        <div class="lg:w-1/3 md:w-1/3 sm:w-full flex flex-col items-center">
          <div class="section-title mb-4">
            <span class="text-blue-500 font-bold">NEW!</span>
            <h1 class="text-4xl font-bold">Spend in Stores</h1>
            <p class="mt-2 text-lg">
              Get all you need with your Payout from our partners’ stores.
            </p>
          </div>
          <div class="relative">
            <div class="text-center md:text-left">
              <img src="./assets/5.png" class="w-full h-auto" alt="">
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 md:w-1/3 sm:w-full flex flex-col items-center">
          <div class="section-title mb-4">
            <span class="text-blue-500 font-bold">NEW!</span>
            <h1 class="text-4xl font-bold">Want to save big?</h1>
            <p class="mt-2 text-lg">
              The smartest saving option in the market is where you can save up to <b>100,000 EGP</b> and get a return of up to <b>20%</b> on top of your savings.
            </p>
          </div>
          <div class="relative">
            <div class="text-center md:text-left">
              <img src="./assets/6.png" class="w-full h-auto" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container mx-auto px-4 mt-11">
      <div class="flex flex-wrap justify-around">
        <div class="lg:w-1/3 md:w-1/3 sm:w-full flex flex-col items-start">
          <div class="relative mb-4">
            <div class="text-center md:text-left">
              <img src="./assets/7.png" class="w-full h-auto" alt="">
            </div>
          </div>
          <div class="section-title">
            <h1 class="text-4xl font-bold">Exclusive Benefits For Corporate Users</h1>
            <p class="mt-2 text-lg">
              Get in touch with our corporate sales team to get <b>exclusive &amp; special offers</b> tailored to your employees’ needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  